*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
/apk/*
!apk/.gitkeep
/Backup/*
!Backup/.gitkeep
*.jks
keystore.jks
app/keystore/keystore.jks